@model FilmModel

<h2 class="mb-4">Kategori Düzenle</h2>

<form class="row g-3" method="post">
    <div class="mb-3">
        <label class="form-label">Kategori</label>
        <input required type="text" value="@Model.Kategori" class="form-control" name="Kategori">
    </div>

    

    <button class="btn btn-success">Düzenle</button>
</form>
